@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 6px;
}

.calculator {
  background-color: #FEDC5E;
  height: 30rem;
  border-radius: 1rem 1rem 1rem 1rem;
  box-shadow: 0px 2px 2px 2px;
  width: 20rem;
}
.display {
  background-color: #FCF8E9;
  color: black;
  height: 6rem;
  display: flex;
  justify-content: end;
  font-family: 'Silkscreen', cursive;
  border-radius: 1rem;
}
span{
  margin-top: 2rem;
  margin-right: -1rem;
}
.operators {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: .5rem;
  height: 3rem;
}
.operators button {
  background-color: #FEDC5E;
  color: black;
  border-radius: 45%;
}
.digits {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  height: 3rem;
  text-align: center;
}
.digits button {
  display: grid;
  gap: 20px;
  height: 3rem;
  margin-top: 1rem;
  border-radius: 40%;
  background-color: #FEDC5E;
  
  justify-content: center;
  text-align: center;
}
button{
  box-shadow: 1px 1px 1px 1px;
  padding: 1rem;
  font-family: 'Silkscreen', cursive;
  font-size: large;
}
